.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #ffffff;
    height: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.headerInner {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #6b3f2a;
    text-decoration: none;
}

.logoIcon {
    font-size: 1.8rem;
}

/* NAV CENTRADO */
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.navLink {
    font-size: 1rem;
    font-weight: 200;
    /* color: #5a3a2e; */
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.navLink:hover {
    opacity: 0.6;
}

/* CARRITO */
.cart {
    font-size: 1.3rem;
    color: #5a3a2e;
    text-decoration: none;
}

/* BOTÓN MOBILE */
.menuButton {
    display: none;
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* MOBILE NAV */
.mobileNav {
    display: none;
    flex-direction: column;
    background: #f4f4f4;
    padding: 20px 40px;
    gap: 15px;
}

.mobileNav.open {
    display: flex;
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .cart {
        display: none;
    }

    .menuButton {
        display: block;
    }
}